body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-size: 70px 70px;
    background-image: radial-gradient(circle, rgba(0, 178, 255, 0.3) 3px, #F0F0F0 1px);
    background-repeat: repeat;
    font-family: 'Poppins', 'Anton', sans-serif;
    position: relative;
}

.header {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between; /* This ensures items are spaced out across the full width */
    align-items: center; /* Aligns items vertically in the center */
    padding: 0 20px; /* Adds padding on both sides */
}

.logo {
    width: 100px;
    height: 100px; /* Maintaining the dimensions as provided */
}

.main-container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-text {
    margin-top: 10px;
    font-size: 30px;
    letter-spacing: 5px;
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.action-text {
    font-size: 16px;
    letter-spacing: 2px;
    color: #333333;
    margin-top: 20px;
    text-align: center;
}

.action-text-highlight {
    text-decoration: underline;
}

.notes-hightlight {
    background-color: #FF6B6B;
    padding-right: 10px;
    padding-left: 2px;
}

.form-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.signup-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="email"] {
    height: 50px;
    padding: 0 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 3px 3px 0px 0px #000;
}

button {
    height: 50px;
    background-color: #00b3ffcc;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    box-shadow: 3px 3px 0px 0px #000;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

button:hover {
    background-color: #00B2FF;
}

.success-text {
    width: 100%;
    margin-top: 10px;
    color: #FF6B6B;
    text-align: center;
}

.badge-and-concept-container {
    display: flex; /* Enables flexbox layout */
    align-items: center; /* Vertically align items in the middle */
    justify-content: space-around; /* Evenly space out the child elements */
    margin-top: 30px; /* Margin to separate from elements above */
}

.additional-text-header {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.additional-text-points {
    text-align: center;
    margin-bottom:5;
    font-size: 14px;
}

.additional-text {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

@media (max-width: 768px) {
    .header-container {
        padding: 20px;
    }

    .title-text {
        font-size: 24px;
    }

    .action-text {
        font-size: 18px;
    }

    .signup-form {
        width: 90%;
    }

    .additional-text {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .logo {
        top: 10px;
        left: 10px;
        width: 80px;
        height: 80px;
    }

    .title-text, .action-text {
        letter-spacing: 4px;
    }

    .form-container {
        margin-top: 0px;
    }

    .additional-text {
        font-size: 12px;
    }
}

.influencer-container {
    height: 100px;
}